* {
    padding: 0;
    margin: 0;
}

.logoimg {
    max-height: 50px;
}

.logotxt {
    font-size: x-small;
    font-weight: bolder;
}


.bg-brainster {
    background-color: #FCD232;
}

.brainsterlabs {
    height: 500px;
    background-image: url('../img/officeimg.jpg');
    background-position-y: bottom;
    background-size: cover;
}
.brainsterlabs h1{
    max-width: 100%;
}

.cardButton {
    float: right;
}

.cardsCol .cardRounded {
    border-radius: 25px;
    overflow: hidden;
    
}

.cardRounded:hover {
        transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.brainsterFooter {
    height: 8vh;
}

.activeClassRed {
    background-color: darkred;
    color: black;
}

.hideClass {
    display: none;
}

.formDiv {
    background-color: #FCD232;
    height: 80vh;
}

.vrabotiStudenti {
    height: 30vh;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }


 option {
    font-weight:bold;
}

.isprati {
    margin-bottom: 10px;
}